{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}
      <title>Base title</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">CREAD</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Posts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </div>

        {% if user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="{% url 'oneApp:user_logout' %}">LogOut</a></li>
            <li class="nav-item active nav-link collapse navbar-collapse">{{ username }}</li>
          </ul>
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="{% url 'oneApp:user_login' %}">Login</a></li>
            <li class="nav-item active collapse navbar-collapse"><a class="nav-link" href="{% url 'oneApp:user_register' %}">SignUp</a></li>
          </ul>
        {% endif %}

      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>

  </body>
</html>
